#bar-wrap {
    display: block;
    opacity: 1;
    position: fixed;
    left: 0;
    bottom: 0;

 
    width: 60px;
    height: 150px;;
    z-index: 99999;
}

#act-bar {
    background-color: #000000;
    height: 90px;


   
}
