<!DOCTYPE HTML>
<!--
	Locus by Pixelarity
	pixelarity.com | hello@pixelarity.com
	License: pixelarity.com/license
-->
<html>
	<head>
		<title>Untitled</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<!--[if lte IE 8]><script src="assets/js/ie/html5shiv.js"></script><![endif]-->
		<link rel="stylesheet" href="assets/css/main.css" />
		<!--[if lte IE 8]><link rel="stylesheet" href="assets/css/ie8.css" /><![endif]-->
	</head>
	<body>
		<div id="wrapper" class="container">

			<!-- Header -->
				<section id="header">
					<header>
						<h1>Moon-Koon</h1>
						<p>Authentic Asian Cuisine</p>
					</header>
					<nav id="nav">
						<ul>
							<li><a>Home</a></li><li><a>Menu</a></li><li><a >Opening Hours</a></li>
						</ul>
					</nav>
				</section>

			<!-- Banner -->
				<section id="banner">
					<h2>See how Chef Wang's<br />
					hand-pulled noodles<br />
					have won our restaurant<br />
					The Ethnic Food award.</h2>
					<ul class="actions">
						<li><a class="button big">Full Story</a></li>
					</ul>
				</section>

			<!-- One -->
				<section class="main style1">
					<section>
						<h3>Asian but Irish</h3>
						<p>We source as many ingriedients locally as possible  supporting Irish farmers, we are also very big on organic so all our ingriedients are grown organically. All our meat is 100% Irish. Irish ingiedients but Asian cuisine. </p>
						<ul class="actions">
							<li><a class="button">More</a></li>
						</ul>
					</section>
					<section>
						<h3>As Fresh as possible</h3>
						<p>We go to local farmers to pickup fresh vegetables each morning, then when you order your meal they are freshly prepared for you. Everything as fresh as possible, no jokes! </p>
						<ul class="actions">
							<li><a class="button">More</a></li>
						</ul>
					</section>
				</section>

			<!-- Two -->
				<section class="main style2">
					<header class="major">
						<h2>What's all the craze about<br />
						with our restaurant</h2>
						<p>See what's got half the country<br />
						making bookings a year in advance</p>
					</header>
					<section class="left">
						<a class="image"><img src="images/pic01.jpg" alt="" /></a>
						<div class="content">
							<h3>Amazing Sushi</h3>
							<p>Chef Wang went all out and even made his own Nori from Irish seaweed. Lot's of care is put into making our sushi and that's why everyone loves it. We have the largest variety of sushi in the country.</p>
						</div>
					</section>
					<section class="right">
						<a class="image"><img src="images/pic02.jpg" alt="" /></a>
						<div class="content">
							<h3>The little bits</h3>
							<p>We make our own chili and soy sauce.We make lovely spring rolls that we are sure you will love! You need to try them.</p>
						</div>
					</section>
					<section class="left">
						<a class="image"><img src="images/pic03.jpg" alt="" /></a>
						<div class="content">
							<h3>Authentic</h3>
							<p>When you come here you will see many Asians dining at our restaurant to get a taste of home. There is a reason you don't see them go to the local Chinese take-away and instead they come here. By the way they all agreed that we have the best kimchi in the country. </p>
						</div>
					</section>
					<footer class="major">
						<p>Go see what other delicious dishes we have! Check out the menu.</p>
						<ul class="actions">
							<li><a  class="button big">Menu</a></li>
						</ul>
					</footer>
				</section>

			<!-- Footer -->
				<section id="footer">
					<h2>Contact Us</h2>
					<p>Do you want to make a booking? Inquire about a meal on the menu or ask any question?<br />
					Ask away we will gladly help!</p>
					<form action="#" method="post">
						<div class="row uniform 50%">
							<div class="6u 12u$(xsmall)">
								<input type="text" name="name" id="name" placeholder="Name" />
							</div>
							<div class="6u$ 12u$(xsmall)">
								<input type="email" name="email" id="email" placeholder="Email" />
							</div>
							<div class="12u$">
								<input type="text" name="subject" id="subject" placeholder="Subject" />
							</div>
							<div class="12u$">
								<textarea name="message" id="message" placeholder="Message" rows="8"></textarea>
							</div>
							<div class="12u$">
								<ul class="actions">
									<li><input type="submit" value="Send Message" /></li>
								</ul>
							</div>
						</div>
					</form>
					<ul class="icons">
						<li><a  class="icon fa-twitter"><span class="label">Twitter</span></a></li>
						<li><a  class="icon fa-facebook"><span class="label">Facebook</span></a></li>
						<li><a  class="icon fa-instagram"><span class="label">Instagram</span></a></li>
						
					</ul>
				</section>

		</div>
	

		<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/skel.min.js"></script>
			<script src="assets/js/util.js"></script>
			<!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
			<script src="assets/js/main.js"></script>

	</body>
</html>