<!DOCTYPE HTML>

<html>
	<head>
		<title>Untitled</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<!--[if lte IE 8]><script src="assets/js/ie/html5shiv.js"></script><![endif]-->
		<link rel="stylesheet" href="assets/css/main.css" />
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
		<!--[if lte IE 8]><link rel="stylesheet" href="assets/css/ie8.css" /><![endif]-->
	</head>
	<body class="landing">

		<!-- Header -->
			<header id="header" class="alt">
				<h1 id="logo"><a href="index.html">McMahon Engineering</a></h1>
				<nav id="nav">
					<ul>
						<li><a href="index.html">Home</a></li>
						<li>
							<a href="index.html" >Contact Us</a>
							
						</li>
					
					</ul>
				</nav>
			</header>

		<!-- Banner -->
			<section id="banner">
				<h2>You may not know us but<br> you probably have seen our work</h2>
				<p>We are the No.1 choice for architectural, secondary and construction steel.<br />
				We have worked with all types of companies all over the country</p>
				<ul class="actions">
					<li><a href="#one" class="button special scrolly">Learn More</a></li>
				</ul>
			</section>

		<!-- One -->
			<section id="one" class="wrapper style1 special">
				<div class="container box alt bordered">
					<header class="major">
						<h2>Why us?</h2>
						<p>FInd out why companies all over the country <br>
                            and Europe contract McMahon Engineering for their projects.</p>
					</header>
					<ul class="icons-grid">
						<li>
							<span class="icon major style4 fa-paper-plane"></span>
							<h3>We Deliver</h3>
							<p>All our steel work will be delivered to the site and you don't have to worry about anything .</p>
						</li>
						<li>
							<span class="icon major style3 fa fa-handshake-o" aria-hidden="true"></span>
							<h3>Seal the deal</h3>
							<p>We will close the deal as fast as possible and begin work immediately and therefore delivering the project more quickly</p>
						</li>
						<li>
							<span class="icon major style2 fa-file-text-o"></span>
							<h3>We take care of paper work</h3>
							<p>All the paper work you can leave to us and we will get it sorted free of charge.</p>
						</li>
						<li>
							<span class="icon major style1 fa-eur"></span>
							<h3>We are affordable</h3>
							<p>We dont overcharge for our services, and we can easily say we have the best prices in the country</p>
						</li>
					</ul>
				</div>
			</section>

		<!-- Two -->
			<section id="two" class="wrapper style2 special">
				<div class="container">
					<header class="major">
						<h2>Statistics</h2>
						<p>See the impressive numbers, we are not a small company.</p>
					</header>
					<ul class="counters">
						<li class="style1">
							<strong>12</strong> Countries worked in
						</li>
						<li class="style2">
							<strong>267</strong>Projects Completed
						</li>
						<li class="style3">
							<strong>100%</strong>Satisfaction
						</li>
						
					</ul>
				</div>
			</section>

		<!-- Three -->
			<section id="three" class="wrapper style1 special">
				<div class="container">
					<div class="row 150%">
						<section class="4u 12u$(medium) 12u$(small)">
							<div class="box style1">
								<span class="image full"><img src="images/pic01.jpg" alt="" /></span>
								<h3>We've made turbines</h3>
								<p>Turbines that give this country the power it needs, made by McMahon Engineering!</p>
								<ul class="actions">
									<li><a class="button alt">More</a></li>
								</ul>
							</div>
						</section>
						<section class="4u 6u(medium) 12u$(small)">
							<div class="box style2">
								<span class="image full"><img src="images/pic02.jpg" alt="" /></span>
								<h3>Built huge buildings</h3>
								<p>Chances are you have walked past a building that was built by us!</p>
								<ul class="actions">
									<li><a class="button alt">More</a></li>
								</ul>
							</div>
						</section>
						<section class="4u$ 6u$(medium) 12u$(small)">
							<div class="box style4">
								<span class="image full"><img src="images/pic03.jpg" alt="" /></span>
								<h3>Secondary Steel</h3>
								<p>We also make smaller projects such as stairs and corridors, you may have walked on one of ours.</p>
								<ul class="actions">
									<li><a class="button alt">More</a></li>
								</ul>
							</div>
						</section>
					</div>
				</div>
			</section>

		<!-- Four -->
			<section id="four" class="wrapper style3 special">
				<div class="container">
					<header class="major">
						<h2>Have we convinced you?</h2>
						<p>If so then you need to click one of the buttons below.</p>
					</header>
					<ul class="actions uniform">
						<li><a  class="button special">Get a Quote</a></li>
						<li><a class="button alt">Learn More</a></li>
					</ul>
				</div>
			</section>

		<!-- Footer -->
			
        
        <div id="footer">
			
				<div class="copyright">
					2017 &copy; McMahon Engineering. All rights reserved.
				</div>
			</div>

        
        
        
        
        
        
        
        
        
        
		<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/jquery.dropotron.min.js"></script>
			<script src="assets/js/jquery.scrolly.min.js"></script>
			<script src="assets/js/jquery.scrollgress.min.js"></script>
			<script src="assets/js/skel.min.js"></script>
			<script src="assets/js/util.js"></script>
			<!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
			<script src="assets/js/main.js"></script>

	</body>
</html>